body{
    margin: 0;
    background-color: black;
    color: white;
    line-height: 2;
}

h1, h2, h3, h4{
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    font-style: normal;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
    /*border: solid 1px white;*/
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
.navbar-item:last-child {
    margin-left: 0;
}

.navbar-item:hover {
    color: #ddd;
}

/*.logo{*/
/*    width: 40%;*/
/*    !*height: 120px;*!*/
/*}*/

main{
    /*border: solid 2px yellow;*/
    width: 70%;
    margin: 10px auto 20px;
}



/*.intro-container{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    border: solid hotpink 2px;*/
/*}*/

.intro-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*border: solid hotpink 2px;*/
}

.intro-text{
    /*max-width: 50%;*/
    margin-left: 10px;
}
p{
    font-family: "Oswald" ;
    font-weight: lighter;
}
.profile-img{
    /*max-width: 50%;*/
    /*border-radius: 15px;*/
    /*width: 50%;*/
    /*height: 10.5rem;*/
}

.underline{
    text-decoration-line: underline ;
    text-decoration-color: pink;
}
a{
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue";
}

img{
    width: 18.75rem;
    height: 14.5rem;
}

.skills{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}

.second-contact-me{
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*.projects-title{*/
    /*margin-left: 5rem;*/
    /*margin-right: 20rem;*/
    /*display: inline-block;*/
/*}*/

/*.projects {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    text-align: center;*/
/*}*/
/*.project-row {*/
/*    flex: 0 0 21%; !* Adjust as needed *!*/
/*    margin: 1%; !* For some gap between the boxes *!*/
/*}*/


.projects{
    text-align: center;
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    /*gap: 10px;*/
    /*border: solid 1px hotpink;*/
}

footer{
    background-color: #333333;
}

.footer-container{
    /*border: solid 1px orange;*/
    display: flex;
    /*justify-content: center;*/
    justify-content: space-around;
    width: 70%;
    margin: 10px auto 20px;
}

.contact-message{
    padding: 0 15px;
}

.contact-message h1{
    margin-bottom: 0;
}

.contact-message p{
    text-align: justify;
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid 1px blue;*/
}

.box{
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: #333333;
    border-bottom: 3px solid hotpink;
    font-family: "bebas neue";
}

#send-button{
    background-color: #333333 ;
    color: #ffffff;
    border: none;
    padding: 7px 15px;
    border-bottom: 3px solid hotpink;
    font-family: "bebas neue";
}

#send-button:hover{
    cursor: pointer;
    background-color: gray;
}

.footer-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    padding: 10px;
    /*border: solid 1px white;*/
}


@media (max-width: 1000px) { /* adjust viewport size as needed */
    .projects {
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr 1fr ;
    }
}


@media (max-width: 450px){
    .intro-container{
        flex-direction: column;
    }
    .profile-img, .intro-text{
        width: 100%;
    }
    .skills{
        grid-template-columns: 1fr;
    }
}